/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Montserrat-Regular;
    src: url('ContactFrom_v1/fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('ContactFrom_v1/fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('ContactFrom_v1/fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('ContactFrom_v1/fonts/montserrat/Montserrat-Medium.ttf'); 
  }


body {
    background-color: #ffffff;
    font-family: Montserrat-Regular, sans-serif;
}

/* navigation menu */

.navbar {
    background-color: #ffffff;
}

.btn:hover {
    transition: 0.4s;
    text-shadow: none;
    background-color: rgba(252, 250, 250, 0.945);
    color: rgb(0, 0, 0);
} 

.btn {
    text-shadow: none;
    background-color: rgba(14, 12, 12, 0);
    color: rgb(255, 255, 255);
}

.btn-dark:hover {
    transition: 0.4s;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
} 
.btn-dark {
    text-shadow: none;
    color: rgb(0, 0, 0);
} 



#mainimg {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("imgs/backgroundtest.jpg") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
    color:white;
    text-shadow: 3px 3px 4px black;
    overflow: hidden;
    
}


.logo {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), no-repeat url("imgs/logotest2.png") ;
    /* background-position: bottom left; */
    background-size: contain;
    min-width: 50vh;
}
.background-black {
    background-color: rgba(0,0,0,0.9);
}
/* content home page */


.toursback {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/homeback.png") no-repeat center;
    color:white;
    text-shadow: 3px 3px 4px black;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}

.stonetowncard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/stonetown.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.prisonislandcard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/prisonisland.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.spicescard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/spices.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.jozianicard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/joziani.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.dolfincard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/dolfin.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.bluesafaricard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/bluesafari.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.sunsetcruisecard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/sunset.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.nakupendacard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/nakupenda.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.fishingcard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/fishing.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}

.stonetowncard:hover {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url("imgs/stonetown.png") no-repeat center;
    background-size: cover;
    transition: 1.5s;
}
.prisonislandcard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/prisonisland.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.spicescard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/spices.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.jozianicard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/joziani.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.dolfincard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/dolfin.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.bluesafaricard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/bluesafari.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.sunsetcruisecard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/sunset.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.nakupendacard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/nakupenda.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.fishingcard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/fishing.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}

/* Package */

.therockcard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/therock.jpg") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.therockcard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/therock.jpg") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.kaefangcard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/kaefang.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.kaefangcard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/kaefang.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.villagecard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/village.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.villagecard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/village.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.costalcard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/costal.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.costalcard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/costal.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.aquariumcard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/aquarium.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.aquariumcard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/aquarium.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.snorkelingcard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/snorkeling.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.snorkelingcard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/snorkeling.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.sunsetvillagecard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/sunsetvillage.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.sunsetvillagecard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/sunsetvillage.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.localmusiccard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/localmusic.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.localmusiccard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/localmusic.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}

/* safari */

.serengeticard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/serengeti.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.serengeticard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/serengeti.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.mikumicard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/mikumi.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.mikumicard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/mikumi.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.kilimanjarocard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/kilimanjaro.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.kilimanjarocard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/kilimanjaro.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}
.saadanicard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("imgs/saadani.png") no-repeat center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
    background-size: cover;
}
.saadanicard:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),url("imgs/saadani.png") no-repeat center;
    transition: 1.5;
    background-size: cover;
}

/* footer */

footer {
    background-color: rgba(0,0,0);
    text-align: center;
}

